body{
    margin: 0;
}
.champ{
    width: 20%;
    text-align: center;
    border:none;
    border-bottom: aquamarine solid 3px;
}
.btnchamp{
    margin-left: 3%;
    width: 10%;
    text-align: center;
    border:none;
    border-bottom: aquamarine solid 3px;
}
.image{
    text-align: center;
    vertical-align: center;
}
.sup{
    margin-left: 10%;
    color: black;
    text-decoration: none;
}

#titre{
    text-align: center;
}

#inputItems{
    text-align: center;
    margin: auto;
    margin-top: 3%;
}

#listitemlive{
    margin: auto;
    text-align: center;
}
#supprimer{
    text-align: center;
}
